<body>
  <footer>
    <!--NewsLetter code goes here-->
    <div class="newsblk">
     <div class="newsLetterForm">
       <form>
         <div class="row">
           <div class="col-sm-12 col-md-4">
             <label>My Shopping Site</label>
           </div>
           <div class="col-sm-12 col-md-4">
             <input type="email" placeholder="Enter your Email Id" class="emailControl">
           </div>
           <div class="col-sm-12 col-md-4">
             <button  class="subscribeBtn" type="submit">Subscribe</button>
           </div>
         </div>
       </form>
     </div>
   </div><br>
   
   <!--Company info , contact goes here-->
   <div class="row">
     <div class="col-sm-6 col-md-2">
       <div class="card">
         <div class="card-body">
           <div class="card-title"><STRONG>COMPANY</STRONG></div>
           <div class="card-text">ABOUT</div>
           <div class="card-text">CONTACT</div>
           <div class="card-text">FAQ</div>
           <div class="card-text">SHIPPING & RETURNS</div>
           <div class="card-text">PRIVACY POLICY</div>
           <div class="card-text">TERMS & CONDITIONS</div>
         </div>
       </div>
     </div>
 
     <div class="col-sm-6 col-md-2">
       <div class="card">
         <div class="card-body">
           <div class="card-title"><STRONG>CONTACT US</STRONG></div>
           <div class="card-text">START A RETURN</div>
           <div class="card-text">PHONE 022-1234567</div>
           <div class="card-text">LIVE CHAT</div>
           <div class="card-text">EMAIL & RETURNS</div>
         </div>
       </div>
     </div>
 
     <div class="col-sm-6 col-md-2">
       <div class="card">
         <div class="card-body">
           <div class="card-title"><STRONG>SHOP</STRONG></div>
           <div class="card-text">NEW IN</div>
           <div class="card-text">EXCLUSIVES</div>
           <div class="card-text">SALES</div>
           <div class="card-text">MEN</div>
           <div class="card-text">WOMEN</div>
           <div class="card-text">COUPLE</div>
           <div class="card-text">KIDS</div>
         </div>
       </div>
     </div>
 
     <div class="col-sm-6 col-md-2">
       <div class="card">
         <div class="card-body">
           <div class="card-title"><STRONG>ORDERS</STRONG></div>
           <div class="card-text">TRACK ORDERS</div>
           <div class="card-text">CANCEL ORDER</div>
         </div>
       </div>
     </div>
 
     <div class="col-sm-6 col-md-2">
       <div class="card">
         <div class="card-body">
           <div class="card-title"><STRONG>FOLLOW US</STRONG></div>
           <div class="card-text">FACEBOOK</div>
           <div class="card-text">TWITTER</div>
           <div class="card-text">GMAIL</div>
           <div class="card-text">INSTAGRAM</div>
         </div>
       </div>
     </div>
   </div>
   <br>
 
   <p class="float-right">
     <a href="#">TOP</a>
   </p>
   <div class="row">
     <div class="col-xs-12">
       <label for="">Online Shopping Website</label>
     </div>
    
   </div>
 
   <div class="row">
     <div class="col-xs-12">
      <div class="text-center footerCopyRightText">
        <label>Copyright © 2020 {{title}} Pvt Ltd. All rights reserved.</label>
      </div>
     </div>
   </div>
   
   
 </footer>
</body>

