.newsblk {
    background: #000;
    width: 100%;
}

.newsLetterForm{
    text-align: center;
    color:white;
    font-size: 25px;
    float: center;
    padding: 30px;
    align:center;

}

.emailControl{
    width: 80%;
    margin-left: 10px;
    padding-left: 5px;
}

.subscribeControl{
    margin-left: 10px;   
}

.footerInfo{
    margin-left: 60px;
    padding: 10px;
}

.footerOtherCard{
    margin-left: 50px;
}

.subscribeBtn{
    color:gray;
}