.container-fluid{
    margin-top:70px;
    //margin-left: 0px;
    
}

.product-rating{
    color:gold;
   
}
.rating-align{
    margin-left: 0px;
    margin-top: -0.5rem;
}

.product-price-text{
    margin-bottom: 5px;
}

.price-color{
    color:red;
}

.product-icon-buttons{
    margin-left: 10px;
    margin-top: 10px;
}

.product-card{
   // margin-left: 20px;
   // margin-top: 20px;
}