<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <!--Image of Product-->
        <div class="card" style="width: 25rem;">
          <img src="./assets/custom_tshirts/all/db2a1511-a5c9-48e3-ada4-5259b445504d.jpg" class="card-img-top" alt="..." width="400" height="200">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div> 
        </div>
      </div>  
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <!--Image of Product-->
        <div class="card" style="width: 25rem;">
          <img src="./assets/custom_tshirts/all/57553f21-ea24-4bb5-8925-4dcecddedc97.jpg" class="card-img-top" alt="..." width="400" height="200">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div> 
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <!--Image of Product-->
        <div class="card" style="width: 25rem;">
          <img src="./assets/custom_tshirts/all/d4a10a39-6cc1-4b53-9a98-12e1ecb5469d.jpg" class="card-img-top" alt="..." width="400" height="200">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div> 
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <!--Image of Product-->
        <div class="card" style="width: 25rem;">
          <img src="./assets/custom_tshirts/all/f18a7676-8be0-4991-93e3-d02933f038aa.jpg" class="card-img-top" alt="..." width="400" height="200">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div> 
        </div>
      </div>
    </div>  
</div>