.container-fluid{
    background-color: silver;
}

.align-row{
    margin-top: 10px;
}

.subImages{
    width: 50%;
    height: 70%;
    margin-left: 0px;

}


.column-align{
    text-align: center;
}

.product-rating{
    color:gold;
   
}
.rating-align{
    margin-left: 0px;
    margin-top:5px;
}

.align-left{
    text-align: left;
}

.product-price-text{
    margin-bottom: 5px;
}

.subText{
    font-size: x-small;
}
